.loading {
    margin-top: 60px;
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.post-body {
    margin-top: 20px;
}

.no-data {
    color: var(--text-color);
}
