.account-item {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    padding: 12px 0 8px;
    border-radius: var(--default-border-radius);
}

.item-info {
    margin-left: 12px;
    display: flex;
    flex-direction: column;
}

.nickname {
    font-size: 1.4rem;
    font-weight: 700;

    &:hover {
        text-decoration: underline;
    }
}

.time {
    font-size: 1.2rem;
    color: var(--text-sub-color);

    svg {
        margin-right: 6px;
    }
}
