.wrapper {
    padding-top: 40px;
    background-color: var(--bg-color-primary);

    input {
        width: 100%;
        font-size: 1.6rem;
        color: var(--text-color);
        background-color: var(--bg-color-second);
        border-radius: 8px;
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        -ms-border-radius: 8px;
        -o-border-radius: 8px;
        border: none;
        outline: none;
    }

    input:hover {
        background-color: var(--bg-color-second);
    }

    input:focus {
        background-color: var(--bg-color-second);
    }

    label {
        color: var(--text-color) !important;
        min-width: 90px;
    }

    .btn-edit {
        width: 100%;
    }

    .customAvatar {
        .ant-upload {
            border-radius: 50%;
        }

        .ant-upload-list-item-container {
            margin: 0 auto !important;
        }

        .ant-upload-list-picture-circle {
            .ant-upload-select {
                margin: 0 auto !important;
            }
        }
    }

    .customCoverPhoto {
        .ant-upload {
            width: 100% !important;
            height: 200px !important;
        }

        .ant-upload-list-item-container {
            width: 100% !important;
            height: 200px !important;
            margin: 0 auto !important;
        }
    }
}
