.wrapper {
    margin-top: 0px !important;

    .content {
        min-height: 66vh;
        max-height: 66vh;
        overflow-y: auto;
    }

    .list-comment {
        //overflow-y: scroll;
        //max-height: 500px;
        border-top: 1px solid var(--bg-color-hover);
        padding-top: 20px;
        padding-right: 14px;
        flex-direction: column;

        .child-comment {
            // margin-left: 20px;
            // border-left: 2px solid #ccc;
            // padding-left: 10px;
            color: red;
        }
    }

    .bottom {
        display: flex;
        align-self: center;
        justify-content: space-between;
        border-top: 1px solid var(--bg-color-primary);
        gap: 14px;
        margin-top: 20px;
        padding-top: 15px;
        border-top: 1px solid var(--bg-color-hover);

        .icons {
            display: flex;
            gap: 8px;
        }

        svg {
            color: var(--text-color);
            cursor: pointer;
            width: 20px;
            height: 20px;
            padding: 10px;
            border-radius: 50%;
            &:hover {
                background-color: var(--bg-color-hover);
            }
        }

        .input-send {
            flex: 1;
            border: none;
            outline: none;
            color: var(--text-color);
            background-color: var(--bg-color-second);
            border-radius: 8px;
            padding: 10px 12px;
            font-size: 1.6rem;
        }

        .emoji {
            position: relative;

            .picker {
                position: absolute;
                bottom: 50px;
                left: 0;
            }
        }
    }
}
