.input-container {
    display: flex;
    height: 40px;
    gap: 5px;
    margin: 4px 0 12px 54px;

    svg {
        color: var(--text-color);
        cursor: pointer;
        width: 20px;
        height: 20px;
        padding: 10px;
        border-radius: 50%;
        &:hover {
            background-color: var(--bg-color-hover);
        }
    }

    .input {
        flex: 1;
        border: none;
        outline: none;
        color: var(--text-color);
        background-color: var(--bg-color-second);
        border-radius: 8px;
        padding: 10px 12px;
        font-size: 1.6rem;
    }

    .emoji {
        position: relative;

        .picker {
            position: absolute;
            bottom: 50px;
        }
    }
}
