.wrapper {
    padding: 30px 15px;
    background-color: var(--bg-color-primary);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    color: var(--text-color);

    form {
        display: flex;
        gap: 20px;

        input {
            width: 100%;
            font-size: 1.6rem;
            color: var(--text-color);
            background-color: var(--bg-color-second);
            padding: 12px 16px;
            border-radius: 8px;
            -webkit-border-radius: 8px;
            -moz-border-radius: 8px;
            -ms-border-radius: 8px;
            -o-border-radius: 8px;
            border: none;
        }
    }

    .user {
        margin-top: 30px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .detail {
            display: flex;
            align-items: center;
            gap: 20px;

            span {
                font-size: 1.8rem;
            }

            img {
                border-radius: 50%;
                -webkit-border-radius: 50%;
                -moz-border-radius: 50%;
                -ms-border-radius: 50%;
                -o-border-radius: 50%;
            }
        }
    }
}
