.wrapper {
    background-color: transparent;
}

.label {
    padding: 10px 0px 10px 8px;
    font-size: 1.4rem;
    font-weight: 600;
}

.account-item {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 12px 8px;
    border-radius: var(--default-border-radius);

    &:hover {
        background-color: var(--bg-color-hover);
    }
}

.avatar {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
}

.item-info {
    flex: 1;
    margin-left: 12px;
}

.nickname {
    font-size: 1.6rem;
    color: var(--text-color);
}
