.wrapper {
    margin-top: 60px !important;
    width: 1250px;
    margin: auto;
}

.cover-image {
    height: 450px;
    background-color: var(--bg-color-second);
    border-radius: 0 0 8px 0; /* Border-radius dưới bên trái và phải */
    -webkit-border-radius: 0 0 8px 8px;
    -moz-border-radius: 0 0 8px 8px;
    -ms-border-radius: 0 0 8px 8px;
    -o-border-radius: 0 0 8px 8px;

    & .image {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 0 0 8px 0; /* Border-radius dưới bên trái và phải */
        -webkit-border-radius: 0 0 8px 8px;
        -moz-border-radius: 0 0 8px 8px;
        -ms-border-radius: 0 0 8px 8px;
        -o-border-radius: 0 0 8px 8px;
    }
}

.profile {
    width: 1200px;
    margin: 0 auto;
}

.header {
    display: flex;
    position: relative;
    top: -30px;
    padding-bottom: 20px;
    border-bottom: 1px solid #2d2e31;
    align-items: center;
}

.avatar {
    border-radius: 50%;
    width: 170px;
    height: 170px;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 24px;
}

.full-name {
    font-size: 3.6rem;
    font-weight: 700;
}

.num-friends {
    color: var(--text-sub-color);
}

.action-btn {
    margin-left: auto;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.intro {
    display: flex;
    flex-direction: column;
    font-size: 1.6rem;
}

.introduce {
    margin: 6px 0 10px 0;
    word-wrap: break-word;
    white-space: normal;
    text-align: center;
}

.your-self,
.friends {
    display: flex;
    flex-direction: column;
    background-color: var(--bg-color-primary);
    padding: 18px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}

.friends {
    margin-top: 20px;
}

.icon-intro {
    height: 2rem;
    width: 2rem;
    margin-right: 8px;
}

.list-friends {
    display: flex;
    flex-wrap: wrap;
    margin-top: 12px;
}

.item-friends {
    display: flex;
    flex: 1 1 calc(33.333% - 16px);
    flex-direction: column;
    margin: 4px;
    margin-top: 12px;
    font-weight: 500;
}

.img-friend {
    width: 145px;
    height: 145px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}

.post {
    display: flex;
    justify-content: center;
    font-size: 1.8rem;
    width: 100%;
}

.live-at,
.study-at {
}

.info-detail {
    display: flex;
    flex-direction: column;
    margin: 10px 0;
    margin-left: 10px;
}

.edit-info {
    height: 50px;
    margin-left: auto;
}
