.wrapper {
    height: calc(100vh - 80px - 46px);
    overflow-y: scroll;

    .item {
        display: flex;
        align-items: center;
        gap: 20px;
        padding: 20px;
        cursor: pointer;
        border-radius: 15px;
        margin: 10px 15px;

        &.active {
            background-color: var(--bg-color-hover);
        }

        .info {
            span {
            }

            p {
                font-size: 1.4rem;
            }
        }

        &:hover {
            background-color: var(--bg-color-hover);
        }
    }
}
