.wrapper {
    background-color: var(--bg-color-primary);
    border-radius: 8px;
    margin-top: 14px;
    padding: 12px 16px;
}

.header {
    // display: flex;

    // .info {
    //     display: flex;
    //     flex-direction: column;
    // }
}

.body {
    font-size: 1.4rem;
    line-height: 2.2rem;
}

.text {
}

.footer {
}

.tag {
    font-size: 1.4rem;
    color: var(--text-sub-color);
    margin-top: 20px;
    margin-bottom: 6px;

    &:hover {
        text-decoration: underline;
        cursor: pointer;
    }
}

.interact {
}
