.user-info {
    display: flex;
    flex-direction: column;
    background-color: var(--bg-color-hover);
    border-radius: 8px;
    padding: 2px 6px;

    .full-name,
    .full-name-parent {
        font-weight: 500;
        cursor: pointer;
    }

    .full-name-parent {
        color: var(--primary);
    }
}

.hour {
    margin-left: 54px;
}
