.wrapper {
    height: calc(100vh - 80px - 46px);
    overflow-y: scroll;

    .item {
        display: flex;
        align-items: center;
        gap: 15px;
        padding: 10px;
        cursor: pointer;
        border-radius: 15px;
        margin: 10px 15px;

        &.active {
            background-color: var(--bg-color-hover);
        }

        .info {
            flex: 1;
        }

        &:hover {
            background-color: var(--bg-color-hover);
        }

        .seen-icon {
            color: var(--primary);
        }
    }
}
